appdirs==1.4.4
asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
distlib==0.3.1
Django==3.1.2
-e git+https://github.com/yourlabs/django-autocomplete-light.git@10d7f2c5f2bf6a1f39207f861ef2f47616420e3a#egg=django_autocomplete_light
filelock==3.0.12
idna==2.10
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
psycopg2==2.8.6
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.0.27
