{% extends 'recommender/base.html' %}
{% block content %}

<div class="main">
   <div class="row">
      <div class="column blue-box">
         <h1 class="anime-title"> {{ chosen_anime.title_japanese }}
            <i style="color:#484848">({{ chosen_anime.title_english }})</i>
         </h1>
         <img src="{{ chosen_anime.image_url }}" class="cover-img"
         alt="{{ chosen_anime.title_japanese }}">
         <span style="font-size: 22px;">
            <p><strong>Type:</strong> {{ chosen_anime.anime_type }}</p>
            <p><strong>Genres:</strong> {{ chosen_anime.genres }}</p>
            <p><strong>Episodes:</strong> {{ chosen_anime.episodes }}</p>
            <p><a href="{{ chosen_anime.mal_url }}" target="_blank">Link to MyAnimeList page</a></p>
         </span>
      </div>

      <div class="column">
         <br>
         <div class="center-text">
            <a href="{% url 'results' %}">
               <button type="button" name="button" class="anime-back-button"><span>Back to recommended Animes</span>
               </button>
            </a>
            <p>Overall MyAnimeList Rating: {{ chosen_anime.rating }}</p>
            <p># of MyAnimeList members Reviews: {{ chosen_anime.members }} Users</p>

            <!-- Static star chart -->
            <span class="heading">NANI Anime user reviews</span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <p>4.1 average based on 254 reviews.</p>
            <hr style="border:3px solid #f1f1f1">
         </div>

         <div class="row">
           <div class="side">
             <div>5 star</div>
           </div>
           <div class="middle">
             <div class="bar-container">
               <div class="bar-5"></div>
             </div>
           </div>
           <div class="side right">
             <div>150</div>
           </div>
           <div class="side">
             <div>4 star</div>
           </div>
           <div class="middle">
             <div class="bar-container">
               <div class="bar-4"></div>
             </div>
           </div>
           <div class="side right">
             <div>63</div>
           </div>
           <div class="side">
             <div>3 star</div>
           </div>
           <div class="middle">
             <div class="bar-container">
               <div class="bar-3"></div>
             </div>
           </div>
           <div class="side right">
             <div>15</div>
           </div>
           <div class="side">
             <div>2 star</div>
           </div>
           <div class="middle">
             <div class="bar-container">
               <div class="bar-2"></div>
             </div>
           </div>
           <div class="side right">
             <div>6</div>
           </div>
           <div class="side">
             <div>1 star</div>
           </div>
           <div class="middle">
             <div class="bar-container">
               <div class="bar-1"></div>
             </div>
           </div>
           <div class="side right">
             <div>20</div>
           </div>
         </div>
         <!-- End of Static star chart -->
      </div>
   </div>

   <br>
   <hr style="width:90%; height:10px; color: gray; background-color:gray; border-radius: 15px;">
   <h2 style="text-align: center;">Synopsis</h2>
   <hr style="width:90%; height:10px; color: gray; background-color:gray; border-radius: 15px;">

   <div class="row2">

      <div class="column3">
         <iframe class="video-player" src="{{ chosen_anime.trailer_url }}"
         height="250"></iframe>
      </div>

      <div class="column2">
         <div class="synopsis">
            {{ chosen_anime.synopsis }}
         </div>
      </div>

   </div>

</div>

{% endblock content %}
