{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" href="{% static 'recommender/main.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
      <meta charset="utf-8">
      <title>Anime Detail for: {{ chosen_anime.title_japanese }} </title>

      <!-- Needed for the autocomplete, Jquery CCS UI -->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

   </head>
   <body>
      {% block content %}
      {% endblock %}
   </body>
</html>
